#second-section {
    background-color: #FDF0E9;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    #second-section {
        width: 100%;
    }
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    width: 100%;
}

hr{
    width: 1170px;
    background-color: #F3D1BF;
}

.pic {
    width: 566px;
    height: 585px;
    object-fit: cover;
}

span{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    color: #EF6D58;
    text-transform: uppercase;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #391400A3;
    width: 470px;
    height: 98px;
}

h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #391400;
}

h2{
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #391400;
}

button{
    height: 48px;
    width: 138px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 3px 9px rgba(57, 20, 0, 0.8);
    border: none;
    cursor: pointer;
    color: #391400;
    border-radius: 10px;
}

.record{
    margin-top: 100px;
}

.record div h3{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
    color: #391400;
    margin-top: 40px;
    margin-left: 30px;
}

.record div span{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #391400;
    text-transform: none;
    margin-left: 30px;
}

.record div{
    border: 1px solid #F3D1BF;
    height: 176px;
    width: 391px;
}

.work-box .child-work-box1 h5{
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #EF6D58;
}

.work-box .child-work-box1 h3{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #391400;
    text-transform: none;
}

.work-box .child-work-box1 #text{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #391400A3;
    text-transform: none;
}

.work-box .child-work-box1 #read-more{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #391400;
    text-transform: none;
}

.child-work-box2 div h1{
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color: #391400;
}

.child-work-box2 div h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #391400;
}

.video-box div h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}
.video-box div h3{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
    text-transform: none;
    color: #391400;
}
.video-box div p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: none;
    color: #391400A3;
}

.video-box .play-btn{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.video-box .video-time{
    bottom: 20px;
    left: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    padding: 0px 2px;
}






